{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Bootstrap jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!--Bootstrap javascript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Happyfitness</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>

<body>

<div class="container">
  <h2>Happyfitness Gallery</h2><br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/1.jpg" %}" target="_blank">
          <img src="{% static "images/1.jpg" %}" alt="Lights" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/2.jpg" %}" target="_blank">
          <img src="{% static "images/2.jpg" %}" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/3.jpg" %}" target="_blank">
          <img src="{% static "images/3.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
        <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/4.jpg" %}" target="_blank">
          <img src="{% static "images/4.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
        <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym3.jpg" %}" target="_blank">
          <img src="{% static "images/gym3.jpg" %}" style="width:100%">
        </a>
      </div>
    </div>
        <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym5.jpg" %}" target="_blank">
          <img src="{% static "images/gym5.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym8.jpg" %}" target="_blank">
          <img src="{% static "images/gym8.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym9.jpg" %}" target="_blank">
          <img src="{% static "images/gym9.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym10.jpg" %}" target="_blank">
          <img src="{% static "images/gym10.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym11.jpg" %}" target="_blank">
          <img src="{% static "images/gym11.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym12.jpg" %}" target="_blank">
          <img src="{% static "images/gym12.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym13.jpg" %}" target="_blank">
          <img src="{% static "images/gym13.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym14.jpeg" %}" target="_blank">
          <img src="{% static "images/gym14.jpeg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym15.jpg" %}" target="_blank">
          <img src="{% static "images/gym15.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym16.jpg" %}" target="_blank">
          <img src="{% static "images/gym16.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym17.jpg" %}" target="_blank">
          <img src="{% static "images/gym17.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym18.jpg" %}" target="_blank">
          <img src="{% static "images/gym18.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
<!--     <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div> -->
    <!-- <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div> -->
    <!-- <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/gym19.jpg" %}" target="_blank">
          <img src="{% static "images/gym19.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div> -->
  </div>
</div>
</body>
       <footer>
        <!-- <div style="margin-left:-130%; margin-top:3%;"> -->
        
    <!-- </div> -->
        <center><p>&copy; Site by &nbsp &nbsp &nbsp &nbsp<a href="https://www.linkedin.com/in/manoj-kumar-palaparti-71b13689/" target="_blank"><font color="black"><b>P Manoj Kumar</b></font></a></p></center> 
      </footer>
</body>
</html>
        
        
              
              
              
            
              
    